<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>



  <connectionStrings>
    <add name="CapacitacionNovo" connectionString="Data Source=192.168.210.100;Initial Catalog=CapacitacionNovo;Persist Security Info=False;User ID=capacitacion;Password=kakarotocap???" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>